<router-outlet />
<div class = "group fixed bottom-0 right-0 p-2  flex items-end justify-end w-24 h-24 ">
  <!-- main -->
  <div class = "text-white shadow-xl flex items-center justify-center rounded-full bg-primary-1 z-50 absolute m-1">
    <img class="w-15 transition-all duration-[0.2s] ease-out group-hover:rotate-180" src="./assets/icons/logo-icon.png" alt="chat-icon">
  </div>
  <!-- sub left -->
   <a class="absolute rounded-full transition-all duration-[0.2s] ease-out scale-y-0 group-hover:scale-y-100 group-hover:-translate-x-18 flex" (click)="navigateTo('inbox')">
    <div *ngIf="currentRoute === 'inbox'" class="absolute top-1 right-1 bg-primary-1 w-4 h-4 rounded-full"></div>
    <img class="w-15" src="./assets/icons/inbox-icon.png" alt="chat-icon">
   </a>

  <!-- sub top -->
   <a class="absolute rounded-full transition-all duration-[0.2s] ease-out scale-y-0 group-hover:scale-y-100 group-hover:-translate-x-36 flex" (click)="navigateTo('task')">
    <div *ngIf="currentRoute === 'task'" class="absolute top-1 right-1 bg-primary-1 w-4 h-4 rounded-full"></div>
    <img class="w-15" src="./assets/icons/task-icon.png" alt="chat-icon">
   </a>
</div>
